{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" 
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" 
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" 
            href="http://getskeleton.com/dist/css/skeleton.css" />
            
        <title>First sample page</title>
        
        <script defer application="javascript" src="{% static 'social_layer/js/social_layer.js' %}"></script>
        <link rel="stylesheet" href="{% static 'social_layer/css/social_layer.css' %}"/>
    </head>
    <body>
        <h1>This is a sample page</h1>
        <a href="{% url 'second_page' %}">second page</a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <hr>
        <p>A comment section will render below.</p>
        {% include 'comments/comment_section.html' %}
    </body>
</html>
